<link rel="stylesheet" href="./css/home.css">
<script src="https://kit.fontawesome.com/610450b44d.js" crossorigin="anonymous"></script>


<div class="container d-flex align-items-center justify-content-center flex-column">
    <div class="card col-12 col-md-10 col-lg-8 col-xl-6 p-4">
        <div class="card-body">
            <form class="row g-2 mb-3" action="/" method="POST">
                <div class="col-10">
                    <input type="text" class="form-control rounded-pill" placeholder="Search" aria-label="Search" name="searchCity">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary col-12 rounded-pill" type="submit"><i class="fas fa-search" id="searchBtn"></i></button>
                </div>
            </form>
            <div class="content px-2">
                <p class="fs-2 mb-3">Weather in {{city}}</p>
                <p class="fs-2 mb-0">{{temp}}째C</p>
                <p class="fs-5 mb-3">Feels like {{feels_like}}째C</p>
                <div class="d-flex align-items-center mb-2">
                    <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt="icon">
                    <p class="fs-5 mb-0 mx-2">{{description}}</p>
                </div>
                <p class="fs-5 mb-0">Maximum Temperature: {{temp_max}}째C</p>
                <p class="fs-5 mb-0">Minimum Temperature: {{temp_min}}째C</p>
                <p class="fs-5 mb-0">Humidity: {{humidity}}%</p>
                <p class="fs-5 mb-0">Wind Speed: {{wind}} km/h</p>
            </div>
        </div>
    </div>
    <div>
        <p class="fw-light m-2">myWeather by <a class="text-decoration-none" href="https://www.linkedin.com/in/ehvenga/">@ehvenga</a> </p>
    </div>
</div>
