<link rel="stylesheet" href="./css/style.css">
<script src="https://kit.fontawesome.com/610450b44d.js" crossorigin="anonymous"></script>
<script src="./js/script.js" defer></script>

<div class="container d-flex align-items-center justify-content-center flex-column">
    <div class="card col-12 col-md-10 col-lg-6 col-xl-5 p-md-1 p-lg-3 p-xl-4">
        <div class="card-body">
            <form class="row g-2 mb-3" action="/" method="POST">
                <div class="col-10">
                    <input type="text" class="form-control rounded-pill" placeholder="Search" aria-label="Search" name="searchCity" required>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary col-12 rounded-pill" type="submit"><i class="fas fa-search" id="searchBtn"></i></button>
                </div>
            </form>
            <div class="content px-2">
                <p class="fs-5 my-0 text-danger">{{err}}</p>
                <p class="fs-2 mb-2">Weather in {{city}}</p>
                <p class="fs-1 mb-0 lh-sm">{{temp}}째C</p>
                <p class="fs-5 mb-3">Feels like {{feels_like}}째C</p>
                <div class="d-flex align-items-center mb-2">
                    <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt="icon">
                    <p class="fs-5 mb-0 mx-3">{{description}}</p>
                </div>
                <p class="lh-sm fs-5 mb-0">Humidity: {{humidity}}%</p>
                <p class="lh-sm fs-5 mb-2">Wind Speed: {{wind}} km/h</p>
                <p class="lh-sm fs-5 mb-0">Maximum Temperature: {{temp_max}}째C</p>
                <p class="lh-sm fs-5 mb-0">Minimum Temperature: {{temp_min}}째C</p>
            </div>
            <div class="mt-4">
                <div class="col-12">
                    <button id="geo" class="btn btn-sm btn-primary col-12 rounded-pill" type="submit">Use My Location</button>
                </div>
            </div>
        </div>
        <p class="made fw-light m-0 col-12 text-center">myWeather by <a class="text-decoration-none" href="https://www.linkedin.com/in/ehvenga/">@ehvenga</a> </p>
    </div>
</div>
